<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily news</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav style="background-color: rgb(0, 0, 0);" class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" style="color: aliceblue;font-weight: 650;" href="#">NEWS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" style="color: aliceblue;font-weight: 652;" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: aliceblue;font-weight: 650;" href="/about">About</a>
              </li>
              
              
            </ul>
            <form class="d-flex">
              <button type="button" class="btn btn-outline-success mx-2" data-toggle="modal" data-target="#factModal">
                Tell me a Fact..
              </button>
              <button type="button" class="btn btn-outline-success mx-2" data-toggle="modal" data-target="#jokeModal">
                Tell me a Joke..
              </button>
            </form>
          </div>
        </div>
      </nav>
    
