<%- include("./partials/header")  %>


<div class="container"> 
    <div class="container d-flex my-4 mx-4" style="background-color: rgb(42, 42, 57);color:aliceblue;justify-content: center;align-items: center;border-radius: 15%;"><h3>See below the latest News</h3></div>
</div>

<%- include("./partials/footer")  %>